<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <title>
        {% block title %} 
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block navigationbar %}
        <div id="nav-bar">
            {% block buttons %}
            <!--navigation bar-->
            {% endblock %}
        </div>
    {% endblock %}

    {% block content %}
    <!--content of the webpage-->
    {% endblock %}
</body>
</html>