{% extends "base.html" %}

{% set emoji_list = [
    "(づ ◕‿◕ )づ",
    "(✿ ♡‿♡)",
    "(˃ᆺ˂✿)",
    "♡´･ᴗ･`♡",
    "(=˃ᆺ˂=)",
    "♫꒰･‿･๑꒱"
] %}

{% block content %}
    <a href="/new_post" style="text-decoration: none;font-size: 16px;line-height: 1.2em;"> add a new post <span style="font-family: arial, sans-serif;">{{ emoji_list | random }}</span></a>
    <br>
    <a href="/profile">profile</a>
    <br><hr>
    {% for post in posts %}
        @{{ post.username or "ghostposter" }}<br> 
        {{ post.content }} <br>
        
        likes: {{ post.likes }} 
        <form action={{ "/likes/" + post.id | string }} method="POST">
            <input type="submit" value="like &lt;3">
        </form>
        <!--{% if post.username == session.username %}-->
        <form action="{{ url_for("delete_post", post=post.id) }}" method="POST">
            <input type="submit" value="delete :&#40;&#40;">
        </form>
        <!--{% endif %}-->
        posted at: {{ post.creation_time.strftime("%Y-%m-%d %H:%M") }}
        <hr>
    {% endfor %}
    <br>
    <a href="{{ url_for('logout') }}">log out</a>
{% endblock %}
