{% extends "base.html" %}

{% set emoji_list = [
    "(づ ◕‿◕ )づ",
    "(✿ ♡‿♡)",
    "(˃ᆺ˂✿)",
    "♡´･ᴗ･`♡",
    "(=˃ᆺ˂=)",
    "♫꒰･‿･๑꒱"
] %}
{% block title %}
    homepage
{% endblock %}

{% block buttons %}
    <form action="/new_post" method="get">
        <button type="submit" class="nav-bar-buttons"> new post {{ emoji_list | random }}</button>
    </form>
    <form action="{{ url_for('profile', id=user.id) }}" method="get">
        <button type="submit" class="nav-bar-buttons">own profile</button>
    </form>
    <form action="/logout" method="get">
        <button type="submit" class="nav-bar-buttons">log out</button>
    </form>
{% endblock %}

{% block content  %}
    <div class="post-wrapper">
        {% for post in posts %}
            <div class="post">
                @{{ post.username or "ghostposter" }}
                {% if not is_friend(post.user_id) %}
                <form action="{{ url_for('friends', id=post.user_id) }}" method="POST">
                    <input type="submit" value="add friend!" id="add-friend">
                </form>
                {% endif %}
                {% if is_friend(post.user_id) and session.user_id != post.user_id %}
                <a href="{{ url_for('profile', id=post.user_id) }}"> visit a friend's profile</a>
                {% endif %}
                <br> 
                {{ post.content }} <br>
                <br>
                likes: {{ post.likes }} 
                <form action={{ '/likes/' + post.id | string }} method="POST">
                    <button type="submit" id="like-button"> like &lt;33 </button>
                </form>
                {% if post.username == session.username %}
                <form action="{{ url_for('delete_post', post=post.id) }}" method="POST">
                    <input type="submit" value="delete :&#40;&#40;" id="delete-button">
                </form>
                {% endif %}
                posted at: {{ post.creation_time.strftime("%Y-%m-%d %H:%M") }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
