{% extends "base.html" %}

{% block title %}
    loginpage
{% endblock %}

{% block navigationbar %}
{% endblock %}

{% block content %}
    <div class="signing-container">
        <div class="signingform">
            <h3 id="loginheader">
                Login
            </h3>
            <form action="/" method="POST">
                <input type="text" name="username" class="signinginput">
                <input type="password" name="password" class="signinginput">

                {% with incorrect = get_flashed_messages() %}
                    {% for message in incorrect %}
                        <p class="errormessage">{{message}}</p>
                    {% endfor %}
                {% endwith %}

                <input type="submit" value="loginyay" class="signinginput submitbutton">
            </form>

            <a href="/register" class="gosign">No account yet? Click here</a>
        </div>
    </div>
{% endblock %}