{% extends "base.html" %}

{% block title %}
    loginpage
{% endblock %}

{% block content %}
    <h3>Login</h3>
    <form action="/" method="POST">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="loginyay">
    </form>
    {% with incorrect = get_flashed_messages() %}
        {% if incorrect %}
        <ul>
            {% for message in incorrect %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <a href="/register"> No account yet? Click here</a>
{% endblock %}