{% extends "base.html" %}

{% block title %}
    {{ user["username"] }}'s profile
{% endblock %}

{% block buttons %}
    <form action="/home" method="get">
        <button type="submit" class="nav-bar-buttons">homepage</button>
    </form>
{% endblock %}

{% block content %}
    <h1 id="profile-h1">welcome to {{ user["username"] }}'s profile</h1>
    <h4 id="profile-about">about me:</h4>
    <div class="pre" id="bio-font">
        {% if bio[0] %}
            <p>{{ bio[0] }}</p> 
        {% else %}
            <p>no bio yet :&#40;&#40;</p>
        {% endif %}
    </div>
    {% if user.id == session.user_id%}
        <div id="bio-button-placement">
            <form action="/new_bio" method="get">
                <button type="submit" class="profile-buttons">add new bio</button>
            </form>
        </div>
    {% endif %}
    <div class="post-wrapper">
        <h3 id="liked-posts">posts I like :33 </h3>
        {% for post in liked_posts %}
            <div class="post">
                @{{ post.username or "ghostposter" }}
                {% if not is_friend(post.user_id) %}
                <form action="{{ url_for('friends', id=post.user_id) }}" method="POST">
                    <input type="submit" value="add friend!" id="add-friend">
                </form>
                {% endif %}
                {% if is_friend(post.user_id) and session.user_id != post.user_id %}
                <a href="{{ url_for('profile', id=post.user_id) }}"> visit a friend's profile</a>
                {% endif %}
                <br> 
                {{ post.content }} <br>
                <br>
                likes: {{ post.likes }} 
                <form action={{ '/likes/' + post.id | string }} method="POST">
                    <button type="submit" id="like-button"> like &lt;33 </button>
                </form>
                {% if post.username == session.username %}
                <form action="{{ url_for('delete_post', post=post.id) }}" method="POST">
                    <input type="submit" value="delete :&#40;&#40;" id="delete-button">
                </form>
                {% endif %}
                posted at: {{ post.creation_time.strftime("%Y-%m-%d %H:%M") }}
            </div>
        {% endfor %}
    </div>
{% endblock %}