@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: antiquewhite;
}

* {
    box-sizing: border-box;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12%;
    background-color: #EDDCDE;
    border-radius: 20px;
    border-style: solid;
    border-color: #87A0F0;
    border-width: 5px;
}

.nav-bar-buttons {
    width: 210px;
    height: 50px;
    background-color: #87A0F0;
    border-radius: 15px;
    font-family: "Titan One", sans-serif;
    font-size: 15px;
    color:#ebcbdb;
}

.nav-bar-buttons:hover {
    background-color: #6f89df;
}

.signing-container,
.newcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signingform {
    margin: auto;
    padding: 20px;
    width: 300px;
    height: fit-content; /* Use dynamic sizing, instead of fixed */
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #87A0F0, #EAB8D1);
}

#loginheader {
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-size: 35px;
    color: white;
}

.signinginput {
    font-family: "Titan One", sans-serif;
    color: #87A0F0;
    display: block;
    margin: 15px auto;
    padding: 13px;
    border-radius: 10px;
}

.gosign,
.errormessage {
    text-align: center;
    color: white;
}

.submitbutton {
    margin: auto;
    font-size: 16px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #EAB8D1,#87A0F0);
    color: white;
}

.gosign {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.registerp {
    font-family: "Titan One", sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.newcontent {
    margin: auto; 
}

.contentinput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #EDDCDE;
    color: #87A0F0;
    font-size: 16px;
}

.content-text {
    font-family: "Titan One", sans-serif;
    font-size: 30px;
    color: #87A0F0;
    font-weight: 900;
    text-align: center;
}

.submitcontent {
    margin: auto;
    width: 80px;
    height: 30px;
    font-family: "Titan One", sans-serif;
    font-size: 16px;
    color: #87A0F0;
}

.new-content-text-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.pre {
    background-color: #EDDCDE;
    height: fit-content;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: 6px;
    border-color: #EAB8D1;
    white-space: pre-wrap;
}

.submitcontent:hover {
    background-color: #E7CDD0;
}

.submitbutton:hover {
    background-image: linear-gradient(to bottom right, #E6A9C7, #6F89DF);
}

#profile-about {
    font-family: "Titan One", sans-serif;
    font-size: 35px;
    color: #87A0F0;
}

#bio-font {
    font-size: 20px;
}

.profile-buttons {
    background-color: #EDDCDE;
    width: 140px;
    height: 40px;
    padding: 10px 5px;
    border-radius: 25px;
    border-color: #EAB8D1;
    border-width: 3px;
    text-decoration: none;
    font-size: 17px;
    color: #87A0F0;
    font-family: "Titan One", sans-serif;
}

.profile-buttons:hover {
    background-color: #E7CDD0;
}

#bio-button-placement {
    padding-top: 20px;
}

#profile-h1 {
    color:#87A0F0;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

#like-button {
    background-color: #e4b8ce;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    color: #7E98EC;
    font-family: "Titan One", sans-serif;
}

#like-button:hover {
    background-color: #e0a7c4;
}

#delete-button,
#add-friend {
    background-color: #87A0F0;
    border-radius: 10px;
    height: 30px;
    width: fit-content;
    color: #e6bcd1;
    font-family: "Titan One", sans-serif;
}

#delete-button:hover,
#add-friend:hover {
    background-color: #6F89DF;
}

.post {
    margin: 15px auto;
    height: fit-content;
    width: 100%;
    max-width: 700px;
    background-color: #EBCBDB;
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


#liked-posts {
    text-align: center;
    font-size: 25px;
    font-family: "Titan One", sans-serif;
    color: #87A0F0;
}
