html {
    height: 100%;
}

body {
    height: 100%;
    background-color: antiquewhite;
}

.signing-container,
.newcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signingform {
    margin: auto;
    padding: 20px;
    width: 300px;
    height: fit-content; /* Use dynamic sizing, instead of fixed */

    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #87A0F0, #EAB8D1);
}

#loginheader {
    text-align: center;
    font-size: 30px;
    color: white;
}

.signinginput {
    display: block;
    margin: 15px auto;
    padding: 13px;
    border-radius: 10px;
}

.gosign,
.errormessage {
    text-align: center;
    color: white;
}

.submitbutton {
    margin: auto;
    font-size: 16px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #EAB8D1,#87A0F0);
    color: white;
}

.gosign {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.registerp {
    font-size: 18px;
    color: white;
    text-align: center;
}

#home-container {
    display: flex;    
}

.newcontent {
    margin: auto;
    
}

.contentinput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #EDDCDE;
    color: #87A0F0;
    font-size: 16px;
}

.content-text {
    font-size: 30px;
    color: #87A0F0;
    font-weight: 900;
    text-align: center;
}

.submitcontent {
    margin: auto;
    font-size: 16px;
    color: #87A0F0;
}

.new-content-text-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

}